Concesionario/concesionario.dtd

<!ELEMENT concesionario (coche*)>
<!ELEMENT coche (codigoCoche, marca, modelo, matricula, potencia, plazas, numPuertas)>
<!ELEMENT codigoCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numPuertas (#PCDATA)>